@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

.res-container {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.new-btn {
    display: block;
    margin: 0 auto;
}
.submit-form {
    display: flex;
    flex-direction: column;
}

.success-prompt {
    color: green;
}

.error {
    color: red;
    border-color: red;
    border-width: 2px;
}